.divider {
  z-index: -1;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 2.5%;
  right: 2.5%;
  width: 95%;

  border-bottom: 1px solid gray;
}

.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 300ms ease-in 100ms;
  margin: 10px 0;
}

.add-cell:hover {
  opacity: 1;
}

.add-buttons {
  display: flex;
  justify-content: center;
}

.add-buttons button {
  margin: 0 20px;
}

.add-cell.force-visible {
  opacity: 1;
}
