.progress-wrapper {
  height: 100%;
  width: calc(100%-10px);

  flex-grow: 1;

  background-color: white;
}

.progress-cover {
  height: 100%;

  display: flex;
  align-items: center;

  padding: 0 10%;

  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
